H1{
    font-size: 5rem;
	text-align: center;
}

.card-img-top{
	height: 200px;
	object-fit: cover;
}
.imagen{
	height: 16rem;
	object-fit: cover;
}
.container{
	align-items: center;
}

.img-c{
	height: 35rem;
	width: 100%;
	object-fit: cover;
}

/* Efecto de hover para mover la tarjeta */
.card:hover {
  transform: translateY(-8px) scale(1.05); /* Mueve ligeramente hacia arriba y aumenta el tamaño */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* Aumenta la sombra al pasar el cursor */
}

/* Cambio de color al hacer hover sobre el botón */
.card-body .btn:hover {
  background-color: rgb(0, 9, 139);
}