H1{
    font-size: 100PX;
	text-align: center;
}
.card-img-top{
	height: 200px;
	object-fit: cover;
}
.imagen{
	height: 16rem;
	object-fit: cover;
}
.container{
	align-items: center;
}

.img-c{
	height: 50rem;
	object-fit: cover;
}