.imagen{
	display: flex;
	justify-content: center;
	
}
h1{
	font-size: 5+rem;
}
.titulo{
	display: flex;
	justify-content: center;
}
.texto{
		display: flex;
	justify-content: center;
	text-align: center;
}
.texto2{
	display: flex;
	justify-content: center;
	text-align: center;
}
.container{
	padding: 1rem;
}