.container{
	display: flex;
	justify-content: center;

	padding: 1rem;
}
img{
	height: 200px;
	object-fit: cover;
}
@media (min-width: 751px) {
.card{
	width: 100%;
	height: 100%;
}
}
/*telefono*/
@media (max-width: 750px) {
	.card{
	width: 100%;
	
	}
}
.btn {
background-color: rgb(0, 17, 255);
color: aliceblue;
} 
H1{
	display: flex;
	justify-content: center;
	font-size: 100px;
}

/* Efecto de hover para mover la tarjeta */
.card:hover {
  transform: translateY(-8px) scale(1.05); /* Mueve ligeramente hacia arriba y aumenta el tamaño */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* Aumenta la sombra al pasar el cursor */
}

/* Cambio de color al hacer hover sobre el botón */
.card-body .btn:hover {
  background-color: rgb(0, 9, 139);
}